<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>游戏吧五周年召集令</title>
	<link rel="stylesheet" type="text/css" href="http://s1.img4399.com/base/css/ue_common.css?10769">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<div class="my_ftop">
	<div class="my_fbtm">
		<!--header-->
		<div class="m_headerback">
			<!--headbg-->
			<div class="m_header">
				<div class="hbg1"></div>
				<div class="hbg2"></div>
				<div class="hbg3"></div>
				<div class="hbg4"></div>
			</div>
			<!--/headbg-->
			<div class="stagelight1 png"></div>
			<div class="stagelight2 png"></div>
			<div class="stagelight3 png"></div>
			<div class="stagelight4 png"></div>
			<!--stage-->
			<div class="m_stage">
				<div class="stage png"></div>
				<div class="star png">
					<a href="javascript:;" class="zfbtn" id="j-blessbtn">一句话送祝福</a>
				</div>
				<div class="stagelights"></div>
				<div class="lpack"></div>
				<div class="title png"></div>
				<div class="spack1"></div>
				<div class="spack2"></div>
				<div class="spack3"></div>
				<div class="douwa png"></div>
				<!--discboard-->
				<div class="discboard" id="j-textscrollbox">
					<div class="scrollbox">
						<ul>
							<li>蜡笔小新说：恭喜游戏吧五岁了，是个大孩子了</li>
							<li>蜡笔小新说：恭喜游戏吧五岁了，是个大孩子了</li>
							<li>蜡笔小新说：恭喜游戏吧五岁了，是个大孩子了</li>
							<li>蜡笔小新说：恭喜游戏吧五岁了，是个大孩子了</li>
						</ul>
					</div>
				</div>
				<!--/discboard-->
				<!--topaction-->
				<div class="topaction">
					<a href="javascript:;" class="favbtn" id="j-addbookmark">收藏活动</a>
					<!--share-->
					<div class="sharebox">
						<label class="sharet">分享到：</label>
						<div class="bdsharebuttonbox"><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></div>
						<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
					</div>
					<!--/share-->
				</div>
				<!--/topaction-->
			</div>
			<!--/stage-->
		</div>
		<!--/header-->
		<!--main-->
		<div class="m_main">
			<!--活动1-->
			<div class="m_box m_box1">
				<div class="m_imgtext">
					<a href="" class="img">
						<img src="http://s1.img4399.com/f/score~638_ad.jpg?1401438627" alt="" />
					</a>
					<p class="txt">1、活动期间，在同个账号下每累积充值100元到参与的游戏中，即可获得一次抽奖机会；累积充值200元，即可获得两次；依次累加！<span class="str">百分百中奖几率</span>！当你一次性充值1000元，可以进行十连抽，中大奖几率会大大的提升哦~</p>
					<p class="txt">2、抽奖参与资格：仅限游戏官网有发布活动公告的游戏才能参与；</p>
					<p class="txt">3、抽奖次数需要在活动结束前使用完毕，活动结束后，页面即关闭。</p>
					<a href="" class="cjbtn">立即抽奖</a>
				</div>
			</div>
			<!--/活动1-->
			<!--活动2-->
			<div class="m_box m_box2">
				<div class="m_imgtext">
					<a href="" class="img">
						<img src="http://s1.img4399.com/f/score~638_ad.jpg?1401438627" alt="" />
					</a>
					<p class="txt">1、活动期间，只要在活动页中选择钟爱的游戏连续三天登录玩游戏，第三天即可在活动页面领取该游戏的尊享礼包；</p>
					<p class="txt">2、请注意：需要连续3天登录玩游戏，若中间一天未登录将重新开始计算；</p>
					<p class="txt">3、礼包需要活动期间领取并在游戏规定有效日期内兑换，活动结束后将无法领取。</p>
					<a href="" class="lbbtn">去拿礼包</a>
				</div>
			</div>	
			<!--/活动2-->
		</div>
		<!--/main-->
		<!--其他热门活动-->
		<div class="m_hotactbox">
			<div class="m_wrap">
				<div class="hd">
					<h2 class="title">其他热门活动</h2>
				</div>
				<div class="bd">
					<div class="m_imgscrollbox" id="j-imgscrollbox">
						<a href="javascript:;" class="prevbtn"><i></i></a>
						<a href="javascript:;" class="nextbtn"><i></i></a>
						<div class="imgwrap">
							<ul class="clearfix">
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
								<li>
									<a href="" title="">
										<img src="http://newsimg.5054399.com/uploads/userup/1406/131J0345M9.jpg" alt="" />
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/其他热门活动-->
		<div class="m_balloon" id="j-code-balloon">
			<div class="balloon png"></div>
			<div class="code">
				<img src="http://f1.img4399.com/ma~9a015dba8fb2bb67911af477504f62db" alt="4399游戏盒">
				<p class="text">下载<a href="http://www.4399.cn/app.html" target="_blank">4399游戏盒</a><br>赢暑期豪华大奖</p>
			</div>
			<span class="open"></span>
			<span class="close"></span>
		</div>
	</div>
</div>

<!--myfooter-->
<div class="my_footer">
	<div class="my_wrapper clearfix">
		<div class="my_cinfo">
			<p>4399游戏吧 最大的中文休闲游戏社区</p>
			<p class="my_service">服务热线：400-633-4399</p>
		</div>
		<div class="my_linfo">
			<ul class="my_fnav">
				<li><a href="/joinus/" target="_blank" rel="nofollow">关于我们</a></li>
				<li><a href="/joinus/zhaopin.html" class="a_job" target="_blank" rel="nofollow">诚聘英才</a></li>
				<li><a href="/help/" target="_blank" rel="nofollow">客服中心</a></li>
				<li><a href="/sitemap/" target="_blank" rel="nofollow">网站地图</a></li>
				<li><a href="http://weibo.com/caiwensheng" target="_blank" rel="nofollow">蔡文胜微博</a></li>
				<li><a href="http://t.qq.com/my4399" target="_blank" rel="nofollow">4399腾讯官方微博</a></li>
				<li><a href="http://weibo.com/my4399" target="_blank" rel="nofollow">4399新浪官方微博</a></li>
			</ul>
			<div class="my_cred">
				<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">ICP证：闽B2-20040099</a>
				<a href="http://net.china.cn/chinese/index.htm" target="_blank" rel="nofollow">不良信息举报中心</a>
				<a href="http://www.4399.com/zs/wenwangwen.html" target="_blank" rel="nofollow">闽网文[2012]0810-015号</a>
				<a href="http://www.4399.com/zs/chuban.html" target="_blank" rel="nofollow">新出网证（闽）字06号</a>
			</div>
			<p class="my_cp">Copyright©2004 - 2014 4399.com All Rights Reserved. 四三九九网络股份有限公司 版权所有</p>
		</div>
	</div>
</div>
<!--/myfooter-->

<script type="text/modal" id="j-bless-tmpl">
<div class="m_blessmodal">
	<a href="javascript:;" class="clsbtn"><i></i></a>
	<textarea class="blesstext"></textarea>
	<input type="submit" class="blessbtn" value="" />
</div>
</script>


<script src="http://s1.img4399.com/base/js/jquery.min.1.6.1.js?10769"></script>
<script src="../static/js/ue.marquee.js"></script>
<script src="../static/js/ue.dialog.js"></script>
<script src="../static/js/ue.addBookmark.js"></script>
<script>
$(function(){
	ue.marquee({
		scrolltarget : "#j-imgscrollbox",//绑定滚轮切换的对象
		hovertarget : "#j-imgscrollbox .imgwrap",//鼠标hover停止切换的对象
		target : '#j-imgscrollbox ul',//滚动对象 一般为 ul
		items : '#j-imgscrollbox ul li', //滚动的详细列表
		prevbtn : "#j-imgscrollbox .prevbtn",//向前或者 向上按钮
		nextbtn : "#j-imgscrollbox .nextbtn",//向后或者 向下按钮
		prevbtndisabled : "prevbtn_dis",
		nextbtndisabled : "nextbtn_dis",
		delay : 2000,//切换间隔时间
		speed : 500,//切换速度
		visiblenum : 5,//可见个数
		scrollnum : 1,
		autoplay : false,//是否自动播放
		
		loop : 0,//循环模式 1 无限循环 0 不循环
		afterSlide : function(){},//每滚动一个完的回调函数
		beforeSlide : function(){},//每滚动一个之前的回调函数
		mode : 1,//0表示竖直方向滚动 1 表示水平方向滚动
		direction : 1//表示默认的滚动方向0向上或者向左 1表示向下或者向右
	});
	ue.marquee({
		scrolltarget : "#j-textscrollbox",//绑定滚轮切换的对象
		hovertarget : "#j-textscrollbox",//鼠标hover停止切换的对象
		target : '#j-textscrollbox ul',//滚动对象 一般为 ul
		items : '#j-textscrollbox ul li', //滚动的详细列表
		delay : 1000,//切换间隔时间
		speed : 500,//切换速度
		visiblenum : 4,//可见个数
		scrollnum : 1,
		autoplay : true,//是否自动播放
		
		loop : 1,//循环模式 1 无限循环 0 不循环
		afterSlide : function(){},//每滚动一个完的回调函数
		beforeSlide : function(){},//每滚动一个之前的回调函数
		mode : 0,//0表示竖直方向滚动 1 表示水平方向滚动
		direction : 0//表示默认的滚动方向0向上或者向左 1表示向下或者向右
	});
	$("#j-addbookmark").bind("click", function(){
		ue.addBookmark(document.title);
		return false;
	});
	$("#j-blessbtn").bind("click",function(){
		ue.dialog({
	    	content : $("#j-bless-tmpl").html(),
	    	lock : true,
	    	init : function(){
		        var _this = this,//获取对话框的js对象
		          $this = this.obj;//获取对话框的jquery对象
		          
		        $this.find(".clsbtn").bind("click", function(){
		          _this.close();
		          return false;
		        });
	    	}
	    });
	});
	$("#j-code-balloon .open").bind("click",function(){
		$(this).parent().addClass("m_balloon_open");
	});
	$("#j-code-balloon .close").bind("click",function(){
		$(this).parent().removeClass("m_balloon_open");
	});
	$(window).bind("resize",function(){
    	if(getVisibleSize().width<1280){
    		$("#j-code-balloon").addClass("m_balloon_mini");
    	}else{
    		$("#j-code-balloon").removeClass("m_balloon_mini");
    	}
    }).trigger("resize");
    function getVisibleSize(){
		return {
			width : window.innerWidth || document.documentElement.clientWidth,
			height : window.innerHeight || document.documentElement.clientHeight
		}
	};
	function getScrollTop(){
		return  document.documentElement.scrollTop || document.body.scrollTop;
	};
    function timerFun(){
        var h = getVisibleSize().height;

        var height = $("#j-code-balloon").height(); 
        $("#j-code-balloon").stop().animate({
            top : getScrollTop() + (h - height) / 2
        	}, 200);
    }; 
	if($.browser.msie && $.browser.version=="6.0"){
	    setInterval(timerFun,300);
    };
});
</script>
<!--[if IE 6]> 
<script type="text/javascript" src="http://s1.img4399.com/base/pngfilter.js?02"></script>
<script type="text/javascript">DD_belatedPNG.fix('.png');</script>  
<![endif]--> 
</body>
</html>