@charset "utf-8";

/* CSS reset */
html{ 
background:#fff;
color:#000;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

/*内外边距通常让各个浏览器样式的表现位置不同*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{ font:500 14px/1.8 'Hiragino Sans GB', sans-serif;}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
input,select,textarea{ font-size:100%;}
ul,ol{ list-style:none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{ border:0;font-variant:normal;}

/* 去除默认边框 */
fieldset,img{ border:0;}

/* 一致的 del 样式 */
del { text-decoration:line-through;}

address,caption,cite,code,dfn,em,th,var { font-style:normal;font-weight:500;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{ display:block;}

/* 统一上标和下标 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/*重排左对齐*/
caption,th { text-align:left;}

/* IE bug fixed: th 不继承 text-align*/
th{ text-align:inherit; }

/*清除浮动*/
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.fl,.fr{display:inline;}
.fl{ float:left }
.fr{ float:right }

/*默认不显示下划线*/
ins,a{text-decoration:none;}
a:hover{text-decoration:underline;}

/*Correct block display not defined in IE6/7/8/9 & ff3,IE需要在js中createElement(tag)*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary { display: block;}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}

/* global */
.wrapper{ margin:0 auto;text-align:left;width:1000px; }
html{ background:#06490a; overflow:hidden;}
body{ background:url(../images/gradient_bgx.png) repeat-x 0 50%; font-family:"microsoft yahei"; overflow:hidden;}

.stage{ background:url(../images/light.png) no-repeat 50% 51%; overflow:hidden; }
.stage_top{ width:100%; position:absolute; top:0; overflow:hidden; z-index:30;}
.stage_top .logo{ background:url(../images/sprite_24.png) no-repeat -235px -248px; width:165px; height:25px; margin:22px 0 0 17px; display:inline; float:left; text-indent:-999em;}
.stage_top .btnul{ float:right; padding:18px 16px 0 0;}
.stage_top .btnul li{ padding-right:20px; height:37px; float:left; display:inline; margin-left:13px; position:relative; overflow:hidden;}
.stage_top .btnul a,
.stage_top .btnul span{ background:url(../images/sprite_24.png) no-repeat -274px -207px; display:block; height:37px; line-height:37px; float:left; color:#b3c6b5; font-size:12px; padding:0 0 0 20px; cursor:pointer;}
.stage_top .btnul span{ background-position:100% -207px; padding:0; padding:0 20px 0 0; margin-right:-20px; position:relative;}

.stage_bot{ width:100%; height:60px; line-height:60px; font-size:12px; position:absolute; left:0; bottom:0; z-index:30;}
.stage_bot .links{ padding-right:12px; float:right; padding-right:}
.stage_bot .links a{ color:#9dd49d; float:left; margin:0 11px;}
.stage_bot .links .ln{ width:0; height:11px; border-left:#9dd49d 1px dotted; float:left; margin-top:24px; overflow:hidden;}
.stage_bot .copyright{ float:left; padding-left:20px; color:#9dd49d; }

.stage{ width:100%; height:100%; position:absolute; left:0; top:0; z-index:20; overflow:hidden;}
.stagelist{ height:100%;}
.stagelist li{ height:100%; position:relative; overflow:hidden;}

.downbtn{ background:url(../images/sprite_24.png) no-repeat 0 -207px; width:235px; height:75px; display:block; text-indent:-999em; }
.downbtn_sm{ background:url(../images/sprite_24.png) no-repeat -258px -345px; width:117px; height:43px; float:left; display:inline; margin:15px 0 0 25px; text-indent:-999em; display:none;}

.screen1{ width:560px; height:366px; position:absolute; left:50%; top:50%; margin:-183px 0 0 -280px;}
.screen1 .slogan{ background:url(../images/sprite_24.png) no-repeat 50% 0; height:36px; text-indent:-999em; margin:33px 0 16px;}
.screen1 .text{ text-align:center; color:#cbda57;}
.screen1 .gameicon{ background:url(../images/sprite_24.png) no-repeat 0 -286px; width:127px; height:127px; display:block; margin-left:230px; }
.screen1 .downbtn{ margin:56px 0 0 167px;}

.arrow{ -webkit-animation: scroll 2s infinite; -moz-animation: scroll 2s infinite; -ms-animation: scroll 2s infinite; animation: scroll 2s infinite; background:url(../images/sprite_24.png) no-repeat -435px -256px; width:25px; height:9px; display:block; position:absolute; left:50%; bottom:28px; margin-left:-12px;}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform:translateY(0px);
  }
  50% {
    -webkit-transform:translateY(10px);
  }
  100% {
    -webkit-transform:translateY(0px);
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform:translateY(0px);
  }
  50% {
    -moz-transform:translateY(10px);
  }
  100% {
    -moz-transform:translateY(0px);
  }
}

@-ms-keyframes scroll {
  0% {
    -ms-transform:translateY(0px);
  }
  50% {
    -ms-transform:translateY(10px);
  }
  100% {
    -ms-transform:translateY(0px);
  }
}
@keyframes scroll {
  0% {
    transform:translateY(0px);
  }
  50% {
    transform:translateY(10px);
  }
  100% {
    transform:translateY(0px);
  }
}

.css3spt .screen1 .gameicon{ 
	-webkit-animation:iconin ease-in-out .5s forwards .4s; 
	-moz-animation:iconin ease-in-out .5s forwards .4s; 
	-ms-animation:iconin ease-in-out .5s forwards .4s; 
	animation:iconin ease-in-out .5s forwards .4s; 
	opacity:0;
}

@-webkit-keyframes iconin{
	from{ -webkit-transform:scale(5); opacity:0;}
	to{ -webkit-transform:scale(1); opacity:1;}
}

@-moz-keyframes iconin{
	from{ -moz-transform:scale(5); opacity:0;}
	to{ -moz-transform:scale(1); opacity:1;}
}

@-ms-keyframes iconin{
	from{ -ms-transform:scale(5); opacity:0;}
	to{ -ms-transform:scale(1); opacity:1;}
}
@keyframes iconin{
	from{ transform:scale(5); opacity:0;}
	to{ transform:scale(1); opacity:1;}
}

.css3spt .screen1 .slogan{ 
	-webkit-animation:sloganin ease-in-out .5s forwards .8s; 
	-moz-animation:sloganin ease-in-out .5s forwards .8s; 
	-ms-animation:sloganin ease-in-out .5s forwards .8s; 
	animation:sloganin ease-in-out .5s forwards .8s; 
	opacity:0;
}
@-webkit-keyframes sloganin{
	from{ -webkit-transform:translateX(-150px); opacity:0;}
	to{ -webkit-transform:translateX(0); opacity:1;}
}
@-moz-keyframes sloganin{
	from{ -moz-transform:translateX(-150px); opacity:0;}
	to{ -moz-transform:translateX(0); opacity:1;}
}
@-ms-keyframes sloganin{
	from{ -ms-transform:translateX(-150px); opacity:0;}
	to{ -ms-transform:translateX(0); opacity:1;}
}
@keyframes sloganin{
	from{ transform:translateX(-150px); opacity:0;}
	to{ transform:translateX(0); opacity:1;}
}

.css3spt .screen1 .text{ 
	-webkit-animation:textin ease-in-out .5s forwards .8s; 
	-moz-animation:textin ease-in-out .5s forwards .8s; 
	-ms-animation:textin ease-in-out .5s forwards .8s; 
	animation:textin ease-in-out .5s forwards .8s; 
	opacity:0;
}
@-webkit-keyframes textin{
	from{ -webkit-transform:translateX(150px); opacity:0;}
	to{ -webkit-transform:translateX(0); opacity:1;}
}
@-moz-keyframes textin{
	from{ -moz-transform:translateX(150px); opacity:0;}
	to{ -moz-transform:translateX(0); opacity:1;}
}
@-ms-keyframes textin{
	from{ -ms-transform:translateX(150px); opacity:0;}
	to{ -ms-transform:translateX(0); opacity:1;}
}
@keyframes textin{
	from{ transform:translateX(150px); opacity:0;}
	to{ transform:translateX(0); opacity:1;}
}

.css3spt .screen1 .downbtn{ 
	-webkit-animation:downbtnin ease-in-out .8s forwards 1s; 
	-moz-animation:downbtnin ease-in-out .8s forwards 1s; 
	-ms-animation:downbtnin ease-in-out .8s forwards 1s; 
	animation:downbtnin ease-in-out .8s forwards 1s; 
	opacity:0;
}
@-webkit-keyframes downbtnin{
	from{ -webkit-transform:translateY(30px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes downbtnin{
	from{ -moz-transform:translateY(30px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes downbtnin{
	from{ -ms-transform:translateY(30px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes downbtnin{
	from{ transform:translateY(30px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}

.stage2{ 
	-webkit-perspective:600px; 
	-moz-perspective:600px; 
	-ms-perspective:600px; 
	perspective:600px; 
}
.screen2{ 
	-webkit-transform-style:preserve-3d; 
	-webkit-transform-origin:center 252px;
	-moz-transform-style:preserve-3d; 
	-moz-transform-origin:center 252px;
	-ms-transform-style:preserve-3d; 
	-ms-transform-origin:center 252px;  
	transform-style:preserve-3d; 
	transform-origin:center 252px;
	width:722px; height:480px; position:absolute; left:50%; top:50%; margin:-266px 0 0 -361px;
}
.screen2 .pcbase{ background:url(../images/sprite_24_pc.png) no-repeat; width:722px; height:225px; position:absolute; top:254px; left:0; overflow:hidden;}
.screen2 .pckeyboard{ background:url(../images/sprite_24_pc.png) no-repeat 0 -229px; width:671px; height:206px; margin:11px 0 0 26px; overflow:hidden;}
.screen2 .pcscreen{ 
	-webkit-transform-origin:center bottom;
	-moz-transform-origin:center bottom;
	-ms-transform-origin:center bottom;
	transform-origin:center bottom;
	background:url(../images/sprite_24_pc.png) no-repeat 0 -439px; width:505px; height:250px; position:absolute; left:108px; bottom:228px; overflow:hidden;
}
.screen2 .slogan{ background:url(../images/sprite_24.png) no-repeat 50% -40px; height:52px; margin:78px 0 10px; text-indent:-999em; }
.screen2 .text{ font-size:15px; text-align:center; color:#76a775; }
.screen2 .pcprobox{ background:url(../images/sprite_24_pc.png) no-repeat 0 -693px; width:487px; height:96px; margin:25px 0 0 94px; overflow:hidden;}
.screen2 .pcprobar{ height:75px; float:left; display:inline; overflow:hidden; margin:1px 0 0 10px; position:relative;}
.screen2 .propanel{ width:244px; padding:0 32px; position:relative;}
.screen2 .pcprobar .propanel_static{ background:url(../images/sprite_24.png) no-repeat 2px -420px; width:308px; height:75px; display:none;}
.screen2 .pcprobar .lt,
.screen2 .pcprobar .ct,
.screen2 .pcprobar .rt{ background:url(../images/pcprobar.png) no-repeat; width:32px; height:75px; display:block;}
.screen2 .pcprobar .ct{ background-position:0 -75px; _margin-top:1px; background-repeat:repeat-x; width:auto;}
.screen2 .pcprobar .lt{ position:absolute; left:0; top:0;}
.screen2 .pcprobar .rt{ background-position:0 -150px; position:absolute; right:0; top:0;}
.screen2 .pcprorun_static{ background:url(../images/sprite_24.png) no-repeat 0 -422px; width:300px; height:60px; position:absolute; top:1px; left:4px; display:none;}

.css3spt .screen2 .slogan{ 
	-webkit-animation:sloganin ease-out .5s forwards 1.2s; 
	-moz-animation:sloganin ease-out .5s forwards 1.2s; 
	-ms-animation:sloganin ease-out .5s forwards 1.2s; 
	animation:sloganin ease-out .5s forwards 1.2s; 
	opacity:0; 
}
@-webkit-keyframes slogan2in{
	from{ -webkit-transform:scale(3); opacity:0;}
	to{ -webkit-transform:scale(1); opacity:1;}
}
@-moz-keyframes slogan2in{
	from{ -moz-transform:scale(3); opacity:0;}
	to{ -moz-transform:scale(1); opacity:1;}
}
@-ms-keyframes slogan2in{
	from{ -ms-transform:scale(3); opacity:0;}
	to{ -ms-transform:scale(1); opacity:1;}
}
@keyframes slogan2in{
	from{ transform:scale(3); opacity:0;}
	to{ transform:scale(1); opacity:1;}
}
.css3spt .screen2 .text{ 
	-webkit-animation:textin ease-out .5s forwards 1.2s; 
	-moz-animation:textin ease-out .5s forwards 1.2s; 
	-ms-animation:textin ease-out .5s forwards 1.2s; 
	animation:textin ease-out .5s forwards 1.2s; 
	opacity:0; 
}
@-webkit-keyframes text2in{
	from{ -webkit-transform:scale(3); opacity:0;}
	to{ -webkit-transform:scale(1); opacity:1;}
}
@-moz-keyframes text2in{
	from{ -moz-transform:scale(3); opacity:0;}
	to{ -moz-transform:scale(1); opacity:1;}
}
@-ms-keyframes text2in{
	from{ -ms-transform:scale(3); opacity:0;}
	to{ -ms-transform:scale(1); opacity:1;}
}
@keyframes text2in{
	from{ transform:scale(3); opacity:0;}
	to{ transform:scale(1); opacity:1;}
}

.css3spt .screen2 .propanel{ 
	-webkit-animation:propanel 1.5s ease-out 1.1s forwards; 
	-moz-animation:propanel 1.5s ease-out 1.1s forwards; 
	-ms-animation:propanel 1.5s ease-out 1.1s forwards; 
	animation:propanel 1.5s ease-out 1.1s forwards; 
}
@-webkit-keyframes propanel{
	from{ width:0; }
	to{ width:244px; }
}
@-moz-keyframes propanel{
	from{ width:0; }
	to{ width:244px; }
}
@-ms-keyframes propanel{
	from{ width:0; }
	to{ width:244px; }
}
@keyframes propanel{
	from{ width:0; }
	to{ width:244px; }
}
.css3spt .screen2 .pcprorun{ 
	-webkit-animation:prorun 1.3s linear infinite; 
	-webkit-background-size:60px 60px; 
	background-image: -webkit-linear-gradient(135deg, rgba(255, 249, 85, .25) 25%, transparent 25%, transparent 50%, rgba(255, 249, 85, .25) 50%, rgba(255, 249, 85, .25) 75%, transparent 75%, transparent); 
	-webkit-transform:perspective(600px) skewX(-4deg) rotateX(55deg); 
	-moz-animation:prorun 1.3s linear infinite; 
	-moz-background-size:60px 60px; 
	background-image: -moz-linear-gradient(135deg, rgba(255, 249, 85, .25) 25%, transparent 25%, transparent 50%, rgba(255, 249, 85, .25) 50%, rgba(255, 249, 85, .25) 75%, transparent 75%, transparent); 
	-moz-transform:perspective(600px) skewX(-4deg) rotateX(55deg); 
	-ms-transform:perspective(600px) skewX(-4deg) rotateX(55deg); 
	-ms-animation:prorun 1.3s linear infinite; 
	-ms-background-size:60px 60px; 
	background-image: -ms-linear-gradient(135deg, rgba(255, 249, 85, .25) 25%, transparent 25%, transparent 50%, rgba(255, 249, 85, .25) 50%, rgba(255, 249, 85, .25) 75%, transparent 75%, transparent); 
	transform:perspective(600px) skewX(-4deg) rotateX(55deg); 
	transform:perspective(600px) skewX(-4deg) rotateX(55deg); 
	animation:prorun 1.3s linear infinite; 
	background-size:60px 60px; 
	background-image: linear-gradient(135deg, rgba(255, 249, 85, .25) 25%, transparent 25%, transparent 50%, rgba(255, 249, 85, .25) 50%, rgba(255, 249, 85, .25) 75%, transparent 75%, transparent); 
	transform:perspective(600px) skewX(-4deg) rotateX(55deg); 
	height:104px; 
	margin:-98px 10px 0 15px; 
	border-radius:10px;
}
@-webkit-keyframes prorun{
	from{ background-position:0 0; }
	to{ background-position:60px 0; }
}
@-moz-keyframes prorun{
	from{ background-position:0 0; }
	to{ background-position:60px 0; }
}
@-ms-keyframes prorun{
	from{ background-position:0 0; }
	to{ background-position:60px 0; }
}
@keyframes prorun{
	from{ background-position:0 0; }
	to{ background-position:60px 0; }
}


.css3spt .screen2{ 
	-webkit-animation:pcin .6s ease-out .3s forwards; 
	-moz-animation:pcin .6s ease-out .3s forwards;
	-ms-animation:pcin .6s ease-out .3s forwards;
	animation:pcin .6s ease-out .3s forwards;
	opacity:0;
}
@-webkit-keyframes pcin{
	from{ -webkit-transform:scale(0.6); opacity:0; }
	to{ -webkit-transform:scale(1); opacity:1; }
}
@-moz-keyframes pcin{
	from{ -moz-transform:scale(0.6); opacity:0; }
	to{ -moz-transform:scale(1); opacity:1; }
}
@-ms-keyframes pcin{
	from{ -ms-transform:scale(0.6); opacity:0; }
	to{ -ms-transform:scale(1); opacity:1; }
}
@keyframes pcin{
	from{ transform:scale(0.6); opacity:0; }
	to{ transform:scale(1); opacity:1; }
}
.css3spt .screen2 .pcscreen{
	-webkit-animation:screenopen 1s ease-out .5s forwards;
	-webkit-transform:scaleY(0.8) rotateX(-130deg);
	-moz-animation:screenopen 1s ease-out .5s forwards;
	-moz-transform:scaleY(0.8) rotateX(-130deg);
	-ms-animation:screenopen 1s ease-out .5s forwards;
	-ms-transform:scaleY(0.8) rotateX(-130deg);
	animation:screenopen 1s ease-out .5s forwards;
	transform:scaleY(0.8) rotateX(-130deg);
}
@-webkit-keyframes screenopen{
	to{ -webkit-transform:scaleY(1) rotateX(0deg);  border-radius:5px;}
}
@-moz-keyframes screenopen{
	to{ -moz-transform:scaleY(1) rotateX(0deg);  border-radius:5px;}
}
@-ms-keyframes screenopen{
	to{ -ms-transform:scaleY(1) rotateX(0deg);  border-radius:5px;}
}
@keyframes screenopen{
	to{ transform:scaleY(1) rotateX(0deg);  border-radius:5px;}
}

.css3spt .screen2 .pckeyboard{ 
	-webkit-animation:keyboardin .8s ease-out .9s forwards; 
	-moz-animation:keyboardin .8s ease-out .9s forwards; 
	-ms-animation:keyboardin .8s ease-out .9s forwards; 
	animation:keyboardin .8s ease-out .9s forwards; 
	opacity:0;
}
@-webkit-keyframes keyboardin{
	from{ -webkit-transform:translateY(20px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes keyboardin{
	from{ -moz-transform:translateY(20px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes keyboardin{
	from{ -ms-transform:translateY(20px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes keyboardin{
	from{ transform:translateY(20px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}

.css3spt .screen2 .pcprobox{ 
	-webkit-animation:proboxin .7s ease-out 1.2s forwards; 
	-moz-animation:proboxin .7s ease-out 1.2s forwards; 
	-ms-animation:proboxin .7s ease-out 1.2s forwards; 
	animation:proboxin .7s ease-out 1.2s forwards; 
	opacity:0;
}

@-webkit-keyframes proboxin{
	from{ -webkit-transform:translateY(20px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes proboxin{
	from{ -moz-transform:translateY(20px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes proboxin{
	from{ -ms-transform:translateY(20px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes proboxin{
	from{ transform:translateY(20px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}


.stage_num{ width:10px; position:absolute; right:25px; top:50%; margin-top:-42px; z-index:40;}
.stage_num li{ width:10px; height:10px; margin-bottom:15px; overflow:hidden;font-size:0;}
.stage_num li i{ background:url(../images/sprite_24.png) no-repeat -450px -286px; height:10px; display:block; overflow:hidden;}
.stage_num .cur i{ background-position:-450px -296px;}

.screen3{ width:752px; height:400px; position:absolute; top:50%; left:50%; margin:-217px 0 0 -376px;}
.screen3 .slogan{ background:url(../images/sprite_24.png) no-repeat 50% -96px; height:52px; text-indent:-999em; margin-bottom:10px; overflow:hidden; }
.screen3 .text{ font-size:15px; text-align:center; color:#72a173; }

.screen3 .tsboard{ width:754px; height:203px; margin:111px auto 0; position:relative; }
.screen3 .tsboard_left,
.screen3 .tsboard_right{ background:url(../images/tsboard.png) no-repeat; width:358px; height:203px; position:absolute; top:0;}
.screen3 .tsboard_left{ left:0;}
.screen3 .tsboard_right{ background-position:0 -203px; right:0;}
.screen3 .file{ background:url(../images/sprite_24.png) no-repeat -258px -286px; width:94px; height:55px; position:absolute; left:158px;top:30px;}
.screen3 .filesuccess{ background:url(../images/sprite_24.png) no-repeat -131px -286px; width:123px; height:95px; position:absolute; right:139px; top:28px; }
.screen3 .lightwrap{ width:330px; height:150px; overflow:hidden; position:absolute; left:207px; top:-85px;}
.screen3 .light1,
.screen3 .light2{ background:url(../images/filelight1.png) no-repeat 50% 4px; width:330px; height:330px; position:absolute; left:0; top:30px; }
.screen3 .light2{ background:url(../images/filelight2.png) no-repeat 50% 0; width:332px; height:332px; left:-1px; top:30px; }


.css3spt .screen3 .light1{ 
	-webkit-animation:light1in 2.5s ease-out 1.5s forwards;
	-webkit-transform:rotateZ(-146deg); 
	-moz-animation:light1in 2.5s ease-out 1.5s forwards;
	-moz-transform:rotateZ(-146deg); 
	-ms-animation:light1in 2.5s ease-out 1.5s forwards;
	-ms-transform:rotateZ(-146deg); 
	animation:light1in 2.5s ease-out 1.5s forwards;
	transform:rotateZ(-146deg); 
}
@-webkit-keyframes light1in{
	0%{ -webkit-transform:rotateZ(-146deg); }
	40%{ -webkit-transform:rotateZ(0deg); }
	100%{ -webkit-transform:rotateZ(0deg);}
}
@-moz-keyframes light1in{
	0%{ -moz-transform:rotateZ(-146deg); }
	40%{ -moz-transform:rotateZ(0deg); }
	100%{ -moz-transform:rotateZ(0deg);}
}
@-ms-keyframes light1in{
	0%{ -ms-transform:rotateZ(-146deg); }
	40%{ -ms-transform:rotateZ(0deg); }
	100%{ -ms-transform:rotateZ(0deg);}
}
@keyframes light1in{
	0%{ transform:rotateZ(-146deg); }
	40%{ transform:rotateZ(0deg); }
	100%{ transform:rotateZ(0deg);}
}

.css3spt .screen3 .light2{ 
	-webkit-animation:light2in 2.5s ease-out 1.9s forwards; 
	-webkit-transform:rotateZ(-150deg);
	-moz-animation:light2in 2.5s ease-out 1.9s forwards; 
	-moz-transform:rotateZ(-150deg);
	-ms-animation:light2in 2.5s ease-out 1.9s forwards; 
	-ms-transform:rotateZ(-150deg);
	animation:light2in 2.5s ease-out 1.9s forwards; 
	transform:rotateZ(-150deg);
}
@-webkit-keyframes light2in{
	0%{ -webkit-transform:rotateZ(-150deg); }
	40%{ -webkit-transform:rotateZ(0deg); }
	100%{ -webkit-transform:rotateZ(0deg);}
}
@-moz-keyframes light2in{
	0%{ -moz-transform:rotateZ(-150deg); }
	40%{ -moz-transform:rotateZ(0deg); }
	100%{ -moz-transform:rotateZ(0deg);}
}
@-ms-keyframes light2in{
	0%{ -ms-transform:rotateZ(-150deg); }
	40%{ -ms-transform:rotateZ(0deg); }
	100%{ -ms-transform:rotateZ(0deg);}
}
@keyframes light2in{
	0%{ transform:rotateZ(-150deg); }
	40%{ transform:rotateZ(0deg); }
	100%{ transform:rotateZ(0deg);}
}



.css3spt .screen3 .tsboard_left{ 
	-webkit-animation:tsleftin .6s ease-out .7s forwards; 
	-moz-animation:tsleftin .6s ease-out .7s forwards; 
	-ms-animation:tsleftin .6s ease-out .7s forwards; 
	animation:tsleftin .6s ease-out .7s forwards; 
	opacity:0;
}
@-webkit-keyframes tsleftin{
	from{ -webkit-transform:translateX(-200px); opacity:0;}
	to{ -webkit-transform:translateX(0); opacity:1;}
}
@-moz-keyframes tsleftin{
	from{ -moz-transform:translateX(-200px); opacity:0;}
	to{ -moz-transform:translateX(0); opacity:1;}
}
@-ms-keyframes tsleftin{
	from{ -ms-transform:translateX(-200px); opacity:0;}
	to{ -ms-transform:translateX(0); opacity:1;}
}
@keyframes tsleftin{
	from{ transform:translateX(-200px); opacity:0;}
	to{ transform:translateX(0); opacity:1;}
}

.css3spt .screen3 .tsboard_right{ 
	-webkit-animation:tsrightin .6s ease-out .7s forwards;
	-moz-animation:tsrightin .6s ease-out .7s forwards;  
	-ms-animation:tsrightin .6s ease-out .7s forwards; 
	animation:tsrightin .6s ease-out .7s forwards; 
	opacity:0;
}
@-webkit-keyframes tsrightin{
	from{ -webkit-transform:translateX(200px); opacity:0;}
	to{ -webkit-transform:translateX(0); opacity:1;}
}
@-moz-keyframes tsrightin{
	from{ -moz-transform:translateX(200px); opacity:0;}
	to{ -moz-transform:translateX(0); opacity:1;}
}
@-ms-keyframes tsrightin{
	from{ -ms-transform:translateX(200px); opacity:0;}
	to{ -ms-transform:translateX(0); opacity:1;}
}
@keyframes tsrightin{
	from{ transform:translateX(200px); opacity:0;}
	to{ transform:translateX(0); opacity:1;}
}

.css3spt .screen3 .file{ 
	-webkit-animation:filein .7s ease 1.2s forwards; 
	-moz-animation:filein .7s ease 1.2s forwards; 
	-ms-animation:filein .7s ease 1.2s forwards; 
	animation:filein .7s ease 1.2s forwards; 
	opacity:0;
}
@-webkit-keyframes filein{
	from{ -webkit-transform:translateY(20px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes filein{
	from{ -moz-transform:translateY(20px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes filein{
	from{ -ms-transform:translateY(20px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes filein{
	from{ transform:translateY(20px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}

.css3spt .screen3 .filesuccess{ 
	-webkit-animation:filesucin 2.2s ease-out 2.7s forwards; 
	-moz-animation:filesucin 2.2s ease-out 2.7s forwards;
	-ms-animation:filesucin 2.2s ease-out 2.7s forwards;
	animation:filesucin 2.2s ease-out 2.7s forwards;
	opacity:0;
}
@-webkit-keyframes filesucin{
	0%{ -webkit-transform:translateY(20px); opacity:0;}
	40%{ -webkit-transform:translateY(0); opacity:1;}
	100%{ -webkit-transform:translateY(0); opacity:1; }
}
@-moz-keyframes filesucin{
	0%{ -moz-transform:translateY(20px); opacity:0;}
	40%{ -moz-transform:translateY(0); opacity:1;}
	100%{ -moz-transform:translateY(0); opacity:1; }
}
@-ms-keyframes filesucin{
	0%{ -ms-transform:translateY(20px); opacity:0;}
	40%{ -ms-transform:translateY(0); opacity:1;}
	100%{ -ms-transform:translateY(0); opacity:1; }
}
@keyframes filesucin{
	0%{ transform:translateY(20px); opacity:0;}
	40%{ transform:translateY(0); opacity:1;}
	100%{ transform:translateY(0); opacity:1; }
}


.css3spt .screen3 .slogan{ 
	-webkit-animation:slogan3in .5s ease-out .3s forwards; 
	-moz-animation:slogan3in .5s ease-out .3s forwards; 
	-ms-animation:slogan3in .5s ease-out .3s forwards; 
	animation:slogan3in .5s ease-out .3s forwards; 
	opacity:0;
}
@-webkit-keyframes slogan3in{
	from{ -webkit-transform:scale(3); opacity:0;}
	to{ -webkit-transform:scale(1); opacity:1;}
}
@-moz-keyframes slogan3in{
	from{ -moz-transform:scale(3); opacity:0;}
	to{ -moz-transform:scale(1); opacity:1;}
}
@-ms-keyframes slogan3in{
	from{ -ms-transform:scale(3); opacity:0;}
	to{ -ms-transform:scale(1); opacity:1;}
}
@keyframes slogan3in{
	from{ transform:scale(3); opacity:0;}
	to{ transform:scale(1); opacity:1;}
}

.css3spt .screen3 .text{ 
	-webkit-animation:text3in .5s ease-out .5s forwards;
	-moz-animation:text3in .5s ease-out .5s forwards;
	-ms-animation:text3in .5s ease-out .5s forwards;
	animation:text3in .5s ease-out .5s forwards;
	opacity:0; 
}

@-webkit-keyframes text3in{
	from{ -webkit-transform:translateY(20px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes text3in{
	from{ -moz-transform:translateY(20px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes text3in{
	from{ -ms-transform:translateY(20px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes text3in{
	from{ transform:translateY(20px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}


.screen4{ width:808px; height:356px; position:absolute; left:50%; top:50%; margin:-178px 0 0 -404px;}
.screen4 .loopbox{ -webkit-perspective:400px; -moz-perspective:400px; -ms-perspective:400px; perspective:400px; width:298px; height:274px; position:absolute; left:40px; top:52px;}
.screen4 .loopbase{ background:url(../images/sprite_24_box.png) no-repeat; width:298px; height:192px; position:absolute; bottom:0; }
.screen4 .loop1{ -webkit-transform:rotateX(45deg); -moz-transform:rotateX(45deg);-ms-transform:rotateX(45deg);transform:rotateX(45deg);background:url(../images/sprite_24_box.png) no-repeat 50% -196px; width:252px; height:252px; position:absolute; left:23px; bottom:21px;}
.screen4 .loop2{ -webkit-transform:rotateX(40deg);-moz-transform:rotateX(40deg); -ms-transform:rotateX(40deg);transform:rotateX(40deg);background:url(../images/sprite_24_box.png) no-repeat 50% -454px; width:220px; height:220px; position:absolute; left:39px; bottom:75px;}
.screen4 .loop3{ background:url(../images/sprite_24_box.png) no-repeat 50% -680px; width:208px; height:154px; position:absolute; left:47px; bottom:122px;}
.screen4 .loopc{ background:url(../images/sprite_24_box.png) no-repeat 50% -842px; width:220px; height:199px; position:absolute; left:39px; bottom:36px; display:none;}

.screen4 .introbox{ width:388px; position:absolute; right:0;}
.screen4 .slogan{ background:url(../images/sprite_24.png) no-repeat -127px -152px; width:204px; height:51px; text-indent:-999em; margin:10px 0 29px;}
.screen4 .text{ height:30px; color:#86be85; font-size:15px; line-height:30px;}
.screen4 .info{ color:#86be85; font-size:12px;}
.screen4 .downbtn{ margin:45px 0 26px;}

.css3spt .loopbase{ 
	-webkit-animation:loopbasein .5s ease-out .5s forwards; 
	-moz-animation:loopbasein .5s ease-out .5s forwards;
	-ms-animation:loopbasein .5s ease-out .5s forwards;
	animation:loopbasein .5s ease-out .5s forwards;
	opacity:0;
}
@-webkit-keyframes loopbasein{
	from{ -webkit-transform:translateY(30px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes loopbasein{
	from{ -moz-transform:translateY(30px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes loopbasein{
	from{ -ms-transform:translateY(30px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes loopbasein{
	from{ transform:translateY(30px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}
.css3spt .screen4 .loop1{ 
	-webkit-animation:loop1in .7s ease-out .7s forwards,loop1rotate 2.5s linear infinite;
	-moz-animation:loop1in .7s ease-out .7s forwards,loop1rotate 2.5s linear infinite; 
	-ms-animation:loop1in .7s ease-out .7s forwards,loop1rotate 2.5s linear infinite; 
	animation:loop1in .7s ease-out .7s forwards,loop1rotate 2.5s linear infinite; 
	opacity:0;
}
@-webkit-keyframes loop1rotate{
	from{ -webkit-transform:rotateX(45deg) rotateZ(360deg);}
	to{ -webkit-transform:rotateX(45deg) rotateZ(0deg);}
}
@-webkit-keyframes loop1in{
	from{ -webkit-transform:rotateX(45deg) translateZ(-60px); opacity:0;}
	to{ -webkit-transform:rotateX(45deg) translateZ(0); opacity:1;}
}
@-moz-keyframes loop1rotate{
	from{ -moz-transform:rotateX(45deg) rotateZ(360deg);}
	to{ -moz-transform:rotateX(45deg) rotateZ(0deg);}
}
@-moz-keyframes loop1in{
	from{ -moz-transform:rotateX(45deg) translateZ(-50px); opacity:0;}
	to{ -moz-transform:rotateX(45deg) translateZ(0); opacity:1;}
}
@-ms-keyframes loop1rotate{
	from{ -ms-transform:rotateX(45deg) rotateZ(360deg);}
	to{ -ms-transform:rotateX(45deg) rotateZ(0deg);}
}
@-ms-keyframes loop1in{
	from{ -ms-transform:rotateX(45deg) translateZ(-50px); opacity:0;}
	to{ -ms-transform:rotateX(45deg) translateZ(0); opacity:1;}
}
@keyframes loop1rotate{
	from{ transform:rotateX(45deg) rotateZ(360deg);}
	to{ transform:rotateX(45deg) rotateZ(0deg);}
}
@keyframes loop1in{
	from{ transform:rotateX(45deg) translateZ(-50px); opacity:0;}
	to{ transform:rotateX(45deg) translateZ(0); opacity:1;}
}

.css3spt .screen4 .loop2{ 
	-webkit-animation:loop2in .4s ease-out .9s forwards,loop2rotate 5s linear infinite; 
	-moz-animation:loop2in .4s ease-out .9s forwards,loop2rotate 5s linear infinite; 
	-ms-animation:loop2in .4s ease-out .9s forwards,loop2rotate 5s linear infinite; 
	animation:loop2in .4s ease-out .9s forwards,loop2rotate 5s linear infinite; 
	opacity:0;
}
@-webkit-keyframes loop2rotate{
	from{ -webkit-transform:rotateX(40deg) rotateZ(-360deg);}
	to{ -webkit-transform:rotateX(40deg) rotateZ(0deg);}
}
@-webkit-keyframes loop2in{
	from{ bottom:45px; opacity:0;}
	to{ bottom:75px; opacity:1;}
}
@-moz-keyframes loop2rotate{
	from{ -moz-transform:rotateX(40deg) rotateZ(-360deg);}
	to{ -moz-transform:rotateX(40deg) rotateZ(0deg);}
}
@-moz-keyframes loop2in{
	from{ bottom:45px; opacity:0;}
	to{ bottom:75px; opacity:1;}
}
@-ms-keyframes loop2rotate{
	from{ -ms-transform:rotateX(40deg) rotateZ(-360deg);}
	to{ -ms-transform:rotateX(40deg) rotateZ(0deg);}
}
@-ms-keyframes loop2in{
	from{ bottom:45px; opacity:0;}
	to{ bottom:75px; opacity:1;}
}
@keyframes loop2rotate{
	from{ transform:rotateX(40deg) rotateZ(-360deg);}
	to{ transform:rotateX(40deg) rotateZ(0deg);}
}
@keyframes loop2in{
	from{ bottom:45px; opacity:0;}
	to{ bottom:75px; opacity:1;}
}
.css3spt .screen4 .loop3{ 
	-webkit-animation:loop3in .7s ease-out 1.1s forwards;
	-moz-animation:loop3in .7s ease-out 1.1s forwards;
	-ms-animation:loop3in .7s ease-out 1.1s forwards;
	animation:loop3in .7s ease-out 1.1s forwards;
	opacity:0;
}
@-webkit-keyframes loop3in{
	from{ -webkit-transform:translateY(20px); opacity:0;}
	to{ -webkit-transform:translateY(0); opacity:1;}
}
@-moz-keyframes loop3in{
	from{ -moz-transform:translateY(20px); opacity:0;}
	to{ -moz-transform:translateY(0); opacity:1;}
}
@-ms-keyframes loop3in{
	from{ -ms-transform:translateY(20px); opacity:0;}
	to{ -ms-transform:translateY(0); opacity:1;}
}
@keyframes loop3in{
	from{ transform:translateY(20px); opacity:0;}
	to{ transform:translateY(0); opacity:1;}
}

.css3spt .screen4 .slogan{ 
	-webkit-animation:slogan3in .6s ease-out .7s forwards; 
	-moz-animation:slogan3in .6s ease-out .7s forwards; 
	-ms-animation:slogan3in .6s ease-out .7s forwards; 
	animation:slogan3in .6s ease-out .7s forwards; 
	opacity:0;
}
.css3spt .screen4 .text1{ 
	-webkit-animation:text4in .5s ease-out .9s forwards; 
	-moz-animation:text4in .5s ease-out .9s forwards;
	-ms-animation:text4in .5s ease-out .9s forwards;
	animation:text4in .5s ease-out .9s forwards;
	opacity:0; 
}
.css3spt .screen4 .text2{ 
	-webkit-animation:text4in .5s ease-out 1s forwards; 
	-moz-animation:text4in .5s ease-out 1s forwards;
	-ms-animation:text4in .5s ease-out 1s forwards;
	animation:text4in .5s ease-out 1s forwards;
	opacity:0; 
}
.css3spt .screen4 .text3{ 
	-webkit-animation:text4in .5s ease-out 1.1s forwards; 
	-moz-animation:text4in .5s ease-out 1.1s forwards; 
	-ms-animation:text4in .5s ease-out 1.1s forwards; 
	animation:text4in .5s ease-out 1.1s forwards; 
	opacity:0; 
}
@-webkit-keyframes text4in{
	from{ -webkit-transform:translateX(100px); opacity:0;}
	to{ -webkit-transform:translateX(0); opacity:1;}
}
@-moz-keyframes text4in{
	from{ -moz-transform:translateX(100px); opacity:0;}
	to{ -moz-transform:translateX(0); opacity:1;}
}
@-ms-keyframes text4in{
	from{ -ms-transform:translateX(100px); opacity:0;}
	to{ -ms-transform:translateX(0); opacity:1;}
}
@keyframes text4in{
	from{ transform:translateX(100px); opacity:0;}
	to{ transform:translateX(0); opacity:1;}
}
.css3spt .screen4 .downbtn{ 
	-webkit-animation:downbtnin .8s ease-out 1.2s forwards; 
	-moz-animation:downbtnin .8s ease-out 1.2s forwards; 
	-ms-animation:downbtnin .8s ease-out 1.2s forwards; 
	animation:downbtnin .8s ease-out 1.2s forwards; 
	opacity:0; 
}
.css3spt .screen4 .info{ 
	-webkit-animation:downbtnin .7s ease-out 1.5s forwards; 
	-moz-animation:downbtnin .7s ease-out 1.5s forwards;
	-ms-animation:downbtnin .7s ease-out 1.5s forwards;
	animation:downbtnin .7s ease-out 1.5s forwards;
	opacity:0; 
}


.css2spt .screen4 .loopc,
.css2spt .screen2 .pcprorun_static{ display:block;}
.css2spt .screen4 .loop1,
.css2spt .screen4 .loop2,
.css2spt .screen2 .pcprorun{ display:none;}

.css2spt .screen2 .propanel,
.css2spt .screen2 .pcprorun{ display:none;}
.css2spt .screen2 .propanel_static{ display:block;}